html {
  height: 100vh;
  width: 100vw;
}

body {
  height: 100vh;
  width: 100vw;
  font-size: 1rem;
}

h1,
p,
span {
  margin: 0;
}

.container {
  background-color: #e9edde;

  height: 100%;
  width: 100%;

  display: grid;
  grid-template: 1fr 1fr 8fr / 1fr;
  grid-template-areas:
    "header"
    "search-form"
    "weather-info";

  row-gap: 2%;
}

.header {
  grid-area: header;

  display: grid;
  grid-template: 1fr / 1fr 1fr;
}

.header h1 {
  color: #3d3b30;
  font-size: calc(1rem + 5vw);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-shadow: 3px 3px #3fa34d;
  text-shadow: 1.5px 1.5px #e7e247;
  margin-left: 2%;
}

.header .unit-buttons {
  display: grid;
  grid-template: 1fr 1fr / 1fr;

  justify-items: end;
  align-items: center;
}

.header .unit-buttons button {
  width: 50%;
  height: 80%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: calc(0.8rem + 2vw);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;

  color: #e9edde;
  background-color: #3d3b30;

  padding: 0;
  border: 2px solid black;
  border-radius: 6px;
  cursor: pointer;

  margin-right: 10%;
}

.header .unit-buttons button:active {
  background-color: #3fa34d;
}

form {
  grid-area: search-form;
  display: flex;
  justify-content: center;
  align-items: center;

  justify-self: center;
  align-self: center;

  width: 100%;
  height: 100%;
}

.city-search {
  height: max-content;
  height: 3vh;
  width: 50%;

  padding: 0;

  border: none;
  border-radius: 20px;

  text-align: center;
}

.city-search:focus {
  outline: none;
}

.weather-info {
  grid-area: weather-info;
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr;
  grid-template-areas:
    "weather-description temp"
    "humidity windspeed"
    "weather-gif weather-gif";

  row-gap: 1vh;
  column-gap: 1vh;
}

.weather-description {
  grid-area: weather-description;

  background-color: #5c80bc;
  border: 2px solid #5c80bc;
  border-radius: 10px;

  display: grid;
  justify-items: center;

  margin-left: 2%;
}

.weather-description p {
  align-self: center;
}

.temp {
  grid-area: temp;

  background-color: #ba1200;
  border: 2px solid #ba1200;
  border-radius: 10px;

  display: grid;

  margin-right: 2%;
}

.accurate-temp {
  display: grid;
  justify-items: center;
}

.temp-feel {
  display: grid;
  justify-items: center;
}

.humidity {
  grid-area: humidity;

  background-color: #e7e247;
  border: 2px solid #e7e247;
  border-radius: 10px;

  display: grid;
  justify-items: center;

  margin-left: 2%;
}

.humidity span {
  align-self: center;
}

.humidity p {
}

.windspeed {
  grid-area: windspeed;

  background-color: #3fa34d;
  border: 2px solid #3fa34d;
  border-radius: 10px;

  display: grid;
  justify-items: center;

  margin-right: 2%;
}

.windspeed span {
  align-self: center;
  text-align: center;
}

.windspeed p {
}

.weather-gif {
  grid-area: weather-gif;

  justify-self: center;

  max-height: calc(6vw + 11vh);
}

.weather-gif img {
  height: 100%;
  width: auto;
}

.weather-description p,
.humidity span,
.windspeed span {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 2rem;
  font-weight: bolder;
  color: #3d3b30;
}

.accurate-temp span,
.temp-feel span {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: bolder;
  color: #3d3b30;
}

.accurate-temp p,
.temp-feel p {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 1.2rem;
  color: #3d3b30;
}

.humidity p {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 1.2rem;
  color: #3d3b30;
}

.windspeed p {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 1.2rem;
  color: #3d3b30;
}
